# Node
node_modules/
dist/
.build/
.next/
pnpm-lock.yaml
npm-debug.log*
yarn-error.log*

# Vite
.vite/
*.local

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*.local

# SQLite data
/server/data/*.sqlite
/server/data/*.db
/server/data/*.sqlite-journal